.step {
	padding: 50px 0px;
	font-family: verdana;
}

.step h1{
	font-family: consolas;
	color: #03004c;
}

.step h2{
	font-family: verdana;
}

.step h3{
	font-family: consolas;
<<<<<<< HEAD
	text-align: center;
=======
	color: #03004c;
>>>>>>> 319d2e05bd507ea46116434b6ec4c86aa0f3f97a
}

#my_portfolio_navbar {
	margin-bottom:0px;
	padding-bottom: 0px;
	padding-right: 30px;
	padding-left: 30px;
	font-family: consolas;
}

.my_navbar_button{
	line-height: 23px !important;
}

#step_home {
	background-color: #FFFFFF;
	margin-top: 53px;
}

#step_home img{
	border-radius: 0px;
	max-width: 100%;
	height: auto;
}

#background_home {
	background-color: rgba(0,0,0,0.5);
	padding:200px 0 300px;
}

#step_profile {
	text-align: center;
}

#step_profile h1{
	text-align: center;
}

#step_profile img{
	max-width: 100%;
}

#step_skills {
	text-align: center;
}

#step_favorite {
	background-color: #ebeef5;
}

.navbar-brand span {
	color: #0075a9;
}

#profile_img_wrapper {
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
}

#experience_img_wrapper {
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
}

#step_experience {
	background-color: #ebeef5;
	text-align: center;
}

li {
	list-style-type: none;
}

ul {
	padding: 0;
}

.right_score {
	float: right;
	clear: both;
}

@media screen and (max-width:767px){
	.right_score {
		float:none;
		display:block;
	}
}